

@font-face {
    font-family: Sahel;
    font-weight: normal;
    src: url("../fonts/Sahel.ttf");
}

@font-face {
    font-family: IranSansBold;
    font-weight: normal;
    src: url("../fonts/IRANSans-Bold.ttf");
}

@font-face {
    font-family: IranSans !important;
    font-weight: normal;
    src: url("../fonts/IRANSans.ttf");
}


* {
    font-family: IranSans, tahoma;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: IranSans, tahoma;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}