@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "_Layout";
}

<style>
    .bg-white {
        margin-top:-17px !important;
    }
    li.list-group-item {
        border: none;
    }

    ul.list-group.list-group-horizontal-md {
        padding-right: 0;
    }
</style>
<div class="container" dir="rtl">
    <div class="card">
        <div class="card-header">
          <div class="col col-md-12">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="card-title col col-md-6">لیست کاتالوگ ها</div>
                    </div>
                    <div class="col col-md-6 ">
                        <a style="float:left;" class="btn btn-danger btn-round pull-left" asp-page="/Login" asp-page-handler="SignOut">خروج</a>
                    </div>
                </div>
          </div>
        </div>
        <div class="card-body">

            <div class="col col-md-12">
                <div class="row">
                    <div class="col col-md-12">
                        <ul class="list-group list-group-horizontal-md">
                           @if (string.IsNullOrWhiteSpace(Model.CatalogMain.Message))
                           {
                               @foreach (var item in Model.CatalogMain.CatalogMain)
                               {
                                   <li class="list-group-item">
                                       <a asp-page="/Catalogs" asp-route-id="@item.CatalogId" asp-route-nId="@item.CatalogNoId" asp-route-rIn="off" class="btn btn-primary btn-round btn-sm">@item.Name</a>
                                   </li>
                               }
                           }

                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>