@page "{id}"
@model Catologs.Pages.ProductDetailsModel
@{
    ViewData["Title"] = "جزئیات محصول";
}



<style>

    .list-card.bg-white.h-100.rounded.overflow-hidden.position-.relative.shadow-sm {
    padding-bottom: 20px;
}

    a {
        text-decoration: none;
    }

        a.text-black.pull-right {
            font-weight: bold !important;
        }
    .shadow-sm {
        box-shadow: 0 .400rem 1.95rem rgba(-9,0,0,.135) !important;
    }
    body {
        margin-top: 20px;
        background: #eee;
    }

    span {
        padding-right: 30px !important;
    }

    li {
        list-style: none;
        float: right;
    }

    ul {
        padding-left: 0;
        padding-right: 0;
        line-height: 1.7;
    }
   
    html{
        margin-top: -20px !important;
    }

    .rounded {
        border-radius: 1rem !important;
    }


    .osahan-account-page-right.shadow-sm.bg-white.p-4.h-100 {
/*        background: linear-gradient(to right, #616161, #9bc5c3) !important; 
*/    }


    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      
        margin-bottom: -60px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div dir="rtl" class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                        <center>
                            <h3 class="text-success fw-bold">
                                @Model.ItemRoot.Name
                            </h3>
                            <strong>@Model.ItemRoot.Desc</strong>
                        </center>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">نام محصول </th>
                                    <th scope="col">قیمت(ریال)</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                    @foreach(var item in Model.ItemRoot.CatalogPageItem)
                                    { <tr>
                                        <td>@item.ProductName</td>
                                        <td>@item.PriceProductR.ToString("#,0#")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>